<div class="sidebar">
    <h1>Rondel Hallare</h1>
    <img src="assets/img/Rondel.jpg">
    <h2>Author</h2>
    <p>
        The Blog page was created by Rondel Hallare. The goal was to be familiar with Angular.
        He is a BSIT Student currently studying at the Adventist University of the Philippines. </p>

</div>

<div class="header">
    <h1>My Top Anime Shows of All Time</h1>
</div>

<main>
    <div id="about">
        <h2> Do you want to know which are the best anime of all time? Get ready,
            because this list is all you need! From spotlighting the most influential Japanese
            anime in the US to examining the genre across the pond, one thing is certain,
            anime is taking over the world. In this realm, anything is possible. Ladden with
            layers of complex storylines woven into a blend of action, adventure, part love story,
            and all philosophical, animes have a charm all its own. Interestingly,
            a growing subgroup of fans collect anime quotes and live by their messages.
            Additionally, there is even a site dedicated to nothing BUT the genre. It is truly
            an epicenter of all things anime! And, the fandom keeps growing and shows no signs
            of slowing down. Our list will probably grow as well but for now, enjoy the best anime
            of all time (so far)!
        </h2>
    </div>

    <div class="anime" id="ani">

        <img src="assets/img/nglg.jpg" class="content">
        <h1>1. No Game No Life</h1>
        <h2>
            This brilliant anime can be addicting for gamers thanks to its unique plot and concept
            of a fantasy world where almost everything is governed by specific rules which one must
            follow at all times. The two protagonists are siblings named Shiro and Sora,
            who are violently transported to a different world that is run by games, and where
            they must develop a lifestyle to survive in a world where games are not so cool and
            innocent.
        </h2>

        <img src="assets/img/soul.jpg">
        <h1>2. Soul Eater</h1>
        <h2>
            What most fans appear to like about Soul Eater is that it has something new to
            offer in terms of story, setting, the personas of the main characters, and artistic style.
            The story centers on the Shibusen, a school for “Weapons and Masters” in the
            fictional town of Death City, Nevada. To get a more distinct understanding, a weapon
            in Soul Eater is a person born with the ability to transform into a Weapon, not just
            any weapon but the one they were born as.
        </h2>

        <img src=" assets/img/fmab.jpg">
        <h1>3. Fullmetal Alchemist Brotherhood</h1>
        <h2>
            Fullmetal Alchemist became one of the most popular anime in both America and Japan
            because of its extremely touching story. That story revolves around Edward and Alphonse
            Elric, who will try anything they can to bring their mother back from death by attempting
            human transmutation. If you think that an anime series can’t make you cry, then try to watch
            this one without tearing up.
        </h2>

        <img src="assets/img/code.jpg">
        <h1>4. Code Geass</h1>
        <h2>
            Code Geass is set in an alternate universe after Japan’s conquest by the Holy
            Britannian Empire with their powerful new robot weapons, the Knightmare Frames,
            stripping Japan and its citizens of all rights and freedoms and renaming the country
            Area 11. Lelouch is a Britannian prince who gave up his right to the throne after
            his mother was murdered and has vowed to destroy his father, the emperor and Britannia.
            It’s always interesting when family matters mix with a thirst for geopolitical conquest
            and domination, no?
        </h2>

        <img src="assets/img/naruto.jpg">
        <h1>5. Naruto shippuden</h1>
        <h2>
            Naruto Uzumaki is a loud, hyperactive, adolescent ninja who constantly searches for 
            approval and recognition, as well as to become Hokage, who is acknowledged as the leader 
            and strongest of all ninjas in the village. The story is absolutely beautiful and has 
            epic fights combined with deep emotion and unpredictable story changes that will blow 
            your mind.
        </h2>
    </div>

</main>
<div class="buttons">
    <a href="#" class="previous">&laquo; Previous</a>
    <a href="#" class="next">Next &raquo;</a>
</div>